.columns.full div{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}           

label{
  font-weight: bold;
}

input, textarea{
  border: solid 1px lightgray;
  border-radius: 3px;
  outline:none;
  padding: 4px 6px;
}  

input:focus,
textarea:focus{
  outline:none;
  border:none;
  box-shadow: 0px 0px 5px 3px #2E964370;
}                    

input[type=submit]{
  background: #2E9643;
  color: white;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 20px;
  width: fit-content !important;
}            